In [68]:
import pandas as pd

In [69]:
parquet_file_order = "/Users/Luis1/Projetos/Detection/datasets/parquet/btc_orderbook_df.parquet"
parquet_file_trade = "/Users/Luis1/Projetos/Detection/datasets/parquet/btc_trades_df.parquet"

dfo = pd.read_parquet(parquet_file_order, engine='pyarrow')
dft = pd.read_parquet(parquet_file_trade, engine='pyarrow')

In [70]:
csv_output_order = "/Users/Luis1/Projetos/Detection/datasets/csv/btc_orderbook_df.csv"
csv_output_trade = "/Users/Luis1/Projetos/Detection/datasets/csv/btc_trades_df.csv"

In [71]:
dfo.to_csv(csv_output_order, index= False)
dft.to_csv(csv_output_trade, index= False)

In [72]:
dfo.head(5)

       price  volume  type
0  207100.00  0.0221  sell
1  207165.00  0.3280  sell
2  207273.00  0.3280  sell
3  207352.00  0.4990  sell
4  207550.99  0.0170  sell

In [73]:
dft.head(5)

                date type      price    amount
tid
15501957  1696007008  buy  135078.45  0.015500
15501958  1696007008  buy  135078.45  0.044400
15501959  1696007008  buy  135083.00  0.159676
15501960  1696007012  buy  135083.00  0.068600
15501961  1696007048  buy  135187.00  0.000148

In [ ]:
dfocsv = pd.read_csv